<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head") %>
  <!-- My CSS -->
  <link rel="stylesheet" href="css/dashboard.css" />

  <body>
    <h1 class="text-center mt-5">Welcome to Our Store</h1>
    <div class="mt-5">
      <div class="button">
        <a href="/login" class="btn btn-primary">Login</a>
      </div>
      <div class="button">
        <a href="/register" class="btn btn-primary">Register</a>
      </div>
      <div class="button">
        <a href="/dashboard" class="btn btn-primary">Dashboard</a>
      </div>
    </div>
  </body>
</html>
