<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <title>Update</title>
  </head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head> 
    <h1>Edit Product</h1>
    <div class="container d-flex justify-content-center">
      <div class="card" style="width: 15rem;">
          <div class="card-body">
        <form action="/products/:id" method="POST">
      <input type="text" name="name" value="<%= a.name %>" />
      <input type="text" name="price" value="<%= a.price %>" />
      <input type="text" name="imageurl" value="<%= a.imageurl %>" />
      <br />
      <br />
      <a href="/dashboard" class="btn">Back</a>
       <button type="submit">Update</button>
    </form>
    </div>
  </div>
  </div>
</head>
</body>
</html>